@font-face {
  font-family: 'Prism';
  src: url('../fonts/prism.woff2') format('woff2'),
       url('../fonts/prism.woff') format('woff'),
       url('../fonts/prism.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.prism {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Prism' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Ensure icons display as block elements by default */
  display: inline-block;
  
  /* Default sizing - can be overridden */
  font-size: 36px;
  width: 1em;
  height: 1em;
  
  /* Optional - center align if using with text */
  vertical-align: -0.15em;
  
  /* Optional - ensure consistent rendering */
  text-rendering: optimizeLegibility;
}

/* Define icon codes */
.prism.computer:before { content: "\e163"; }

.prism.server-exclamation-03:before { content: "\e1a4"; }

.prism.server-exclamation-02:before { content: "\e1a3"; }

.prism.hashtag:before { content: "\e1a2"; }

.prism.zap:before { content: "\e1a1"; }

.prism.xlsx:before { content: "\e1a0"; }

.prism.writing-pad:before { content: "\e19f"; }

.prism.wifi:before { content: "\e19e"; }

.prism.web-shortcut:before { content: "\e19d"; }

.prism.volume:before { content: "\e19c"; }

.prism.video:before { content: "\e19b"; }

.prism.users:before { content: "\e19a"; }

.prism.users-tick:before { content: "\e199"; }

.prism.users-share:before { content: "\e198"; }

.prism.user:before { content: "\e197"; }

.prism.user-time:before { content: "\e196"; }

.prism.user-tick:before { content: "\e195"; }

.prism.user-setting:before { content: "\e194"; }

.prism.user-remove:before { content: "\e193"; }

.prism.user-notify:before { content: "\e192"; }

.prism.user-computer:before { content: "\e191"; }

.prism.user-add:before { content: "\e190"; }

.prism.usb-select:before { content: "\e18f"; }

.prism.usb-drive:before { content: "\e18e"; }

.prism.usb-drive-adapter:before { content: "\e18d"; }

.prism.usb-add:before { content: "\e18c"; }

.prism.upload:before { content: "\e18b"; }

.prism.upload-cloud:before { content: "\e18a"; }

.prism.update:before { content: "\e189"; }

.prism.unlock:before { content: "\e188"; }

.prism.uninstall-patch:before { content: "\e187"; }

.prism.undo:before { content: "\e186"; }

.prism.ticket:before { content: "\e185"; }

.prism.tick:before { content: "\e184"; }

.prism.thumbs-up:before { content: "\e183"; }

.prism.text-underline:before { content: "\e182"; }

.prism.text-square:before { content: "\e181"; }

.prism.text-color:before { content: "\e180"; }

.prism.terminal-square:before { content: "\e17f"; }

.prism.terminal-browser:before { content: "\e17e"; }

.prism.task-schedule:before { content: "\e17d"; }

.prism.tape-drive:before { content: "\e17c"; }

.prism.sync:before { content: "\e17b"; }

.prism.summary:before { content: "\e17a"; }

.prism.summary-settings:before { content: "\e179"; }

.prism.sticker:before { content: "\e178"; }

.prism.star:before { content: "\e177"; }

.prism.speedometer:before { content: "\e176"; }

.prism.sparkles:before { content: "\e175"; }

.prism.sort-up:before { content: "\e174"; }

.prism.sort-down:before { content: "\e173"; }

.prism.software:before { content: "\e172"; }

.prism.sms:before { content: "\e171"; }

.prism.slider:before { content: "\e170"; }

.prism.slide-open:before { content: "\e16f"; }

.prism.slide-closed:before { content: "\e16e"; }

.prism.shield-dollar:before { content: "\e16d"; }

.prism.share-square:before { content: "\e16c"; }

.prism.share-01:before { content: "\e16b"; }

.prism.settings:before { content: "\e16a"; }

.prism.settings-deploy:before { content: "\e169"; }

.prism.settings-custom:before { content: "\e168"; }

.prism.service:before { content: "\e167"; }

.prism.server-tick-03:before { content: "\e166"; }

.prism.server-settings-01:before { content: "\e165"; }

.prism.server-forward:before { content: "\e164"; }

.prism.server-close-03:before { content: "\e162"; }

.prism.server-add:before { content: "\e161"; }

.prism.server-05:before { content: "\e160"; }

.prism.server-04:before { content: "\e15f"; }

.prism.server-03:before { content: "\e15e"; }

.prism.server-02:before { content: "\e15d"; }

.prism.server-01:before { content: "\e15c"; }

.prism.select-all:before { content: "\e15b"; }

.prism.security:before { content: "\e15a"; }

.prism.security-lock:before { content: "\e159"; }

.prism.security-key:before { content: "\e158"; }

.prism.security-encryption:before { content: "\e157"; }

.prism.search:before { content: "\e156"; }

.prism.search-exclamation:before { content: "\e155"; }

.prism.sd-card:before { content: "\e154"; }

.prism.screen-capture:before { content: "\e153"; }

.prism.scan-progress:before { content: "\e152"; }

.prism.router:before { content: "\e151"; }

.prism.route:before { content: "\e150"; }

.prism.rocket:before { content: "\e14f"; }

.prism.right-indent:before { content: "\e14e"; }

.prism.resume:before { content: "\e14d"; }

.prism.remove:before { content: "\e14c"; }

.prism.remove-circle:before { content: "\e14b"; }

.prism.refresh:before { content: "\e14a"; }

.prism.refresh-time:before { content: "\e149"; }

.prism.refresh-off:before { content: "\e148"; }

.prism.recovery-key:before { content: "\e147"; }

.prism.reboot:before { content: "\e146"; }

.prism.quote-down:before { content: "\e145"; }

.prism.query-rep:before { content: "\e144"; }

.prism.puzzle:before { content: "\e143"; }

.prism.property-variable:before { content: "\e142"; }

.prism.property-slider:before { content: "\e141"; }

.prism.property-settings:before { content: "\e140"; }

.prism.property-search:before { content: "\e13f"; }

.prism.property-router:before { content: "\e13e"; }

.prism.property-exclamation:before { content: "\e13d"; }

.prism.property-block:before { content: "\e13c"; }

.prism.property-add:before { content: "\e13b"; }

.prism.properties-select:before { content: "\e13a"; }

.prism.projector:before { content: "\e139"; }

.prism.product:before { content: "\e138"; }

.prism.product-block:before { content: "\e137"; }

.prism.printer:before { content: "\e136"; }

.prism.printer-network:before { content: "\e135"; }

.prism.power:before { content: "\e134"; }

.prism.power-triangle:before { content: "\e133"; }

.prism.port-serial:before { content: "\e132"; }

.prism.port-parallel:before { content: "\e131"; }

.prism.plug-circle:before { content: "\e130"; }

.prism.play:before { content: "\e12f"; }

.prism.play-circle:before { content: "\e12e"; }

.prism.pie-chart:before { content: "\e12d"; }

.prism.pdf:before { content: "\e12c"; }

.prism.pause:before { content: "\e12b"; }

.prism.pause-circle:before { content: "\e12a"; }

.prism.patch:before { content: "\e129"; }

.prism.patch-block:before { content: "\e128"; }

.prism.paste:before { content: "\e127"; }

.prism.paperclip:before { content: "\e126"; }

.prism.palette:before { content: "\e125"; }

.prism.ou:before { content: "\e124"; }

.prism.otp-message:before { content: "\e123"; }

.prism.otp-lock:before { content: "\e122"; }

.prism.online-learning:before { content: "\e121"; }

.prism.notification:before { content: "\e120"; }

.prism.notification-setting:before { content: "\e11f"; }

.prism.music:before { content: "\e11e"; }

.prism.ms-office:before { content: "\e11d"; }

.prism.move-vertical:before { content: "\e11c"; }

.prism.mouse:before { content: "\e11b"; }

.prism.more-vertical:before { content: "\e11a"; }

.prism.more-horizontal:before { content: "\e119"; }

.prism.more-horizontal-oval:before { content: "\e118"; }

.prism.mobile-tick:before { content: "\e117"; }

.prism.mobile-notification:before { content: "\e116"; }

.prism.mobile:before { content: "\e115"; }

.prism.minimize:before { content: "\e114"; }

.prism.minimize-01:before { content: "\e113"; }

.prism.message-text-square:before { content: "\e112"; }

.prism.message-notification:before { content: "\e111"; }

.prism.message-chat-square:before { content: "\e110"; }

.prism.mail:before { content: "\e10f"; }

.prism.mail-user:before { content: "\e10e"; }

.prism.mail-notify:before { content: "\e10d"; }

.prism.logout-01:before { content: "\e10c"; }

.prism.login-01:before { content: "\e10b"; }

.prism.lock:before { content: "\e10a"; }

.prism.location:before { content: "\e109"; }

.prism.list-number:before { content: "\e108"; }

.prism.list-bullet:before { content: "\e107"; }

.prism.link:before { content: "\e106"; }

.prism.link-square:before { content: "\e105"; }

.prism.lightbulb-settings:before { content: "\e104"; }

.prism.lightbulb-energy:before { content: "\e103"; }

.prism.light-bulb:before { content: "\e102"; }

.prism.legal-notice:before { content: "\e101"; }

.prism.left-pane-show:before { content: "\e100"; }

.prism.left-pane-hide:before { content: "\e0ff"; }

.prism.left-indent:before { content: "\e0fe"; }

.prism.layout-refresh-01:before { content: "\e0fd"; }

.prism.layout-grid:before { content: "\e0fc"; }

.prism.layout-01:before { content: "\e0fb"; }

.prism.layers-check:before { content: "\e0fa"; }

.prism.layers-cancel:before { content: "\e0f9"; }

.prism.layers-add:before { content: "\e0f8"; }

.prism.laptop:before { content: "\e0f7"; }

.prism.laptop-trash:before { content: "\e0f6"; }

.prism.laptop-online:before { content: "\e0f5"; }

.prism.laptop-location:before { content: "\e0f4"; }

.prism.keyboard:before { content: "\e0f3"; }

.prism.key:before { content: "\e0f2"; }

.prism.italic:before { content: "\e0f1"; }

.prism.internet-upload:before { content: "\e0f0"; }

.prism.internet-tick:before { content: "\e0ef"; }

.prism.internet-server:before { content: "\e0ee"; }

.prism.internet-lock:before { content: "\e0ed"; }

.prism.internet-02:before { content: "\e0ec"; }

.prism.internet-01:before { content: "\e0eb"; }

.prism.installing-updates:before { content: "\e0ea"; }

.prism.installation:before { content: "\e0e9"; }

.prism.install-patch:before { content: "\e0e8"; }

.prism.infrared:before { content: "\e0e7"; }

.prism.info:before { content: "\e0e6"; }

.prism.info-circle:before { content: "\e0e5"; }

.prism.impact:before { content: "\e0e4"; }

.prism.image:before { content: "\e0e3"; }

.prism.hourglass:before { content: "\e0e2"; }

.prism.horizontal-line:before { content: "\e0e1"; }

.prism.home:before { content: "\e0e0"; }

.prism.home-lock:before { content: "\e0df"; }

.prism.hierarchy-square:before { content: "\e0de"; }

.prism.help:before { content: "\e0dd"; }

.prism.help-circle:before { content: "\e0dc"; }

.prism.headphone:before { content: "\e0db"; }

.prism.hard-disk:before { content: "\e0da"; }

.prism.hard-disk-tools:before { content: "\e0d9"; }

.prism.hard-disk-lock:before { content: "\e0d8"; }

.prism.hard-disk-clean:before { content: "\e0d7"; }

.prism.hard-disk-check:before { content: "\e0d6"; }

.prism.grid:before { content: "\e0d5"; }

.prism.globe:before { content: "\e0d4"; }

.prism.folder:before { content: "\e0d3"; }

.prism.folder-settings:before { content: "\e0d2"; }

.prism.folder-redirection:before { content: "\e0d1"; }

.prism.folder-permission:before { content: "\e0d0"; }

.prism.folder-open:before { content: "\e0cf"; }

.prism.folder-lock:before { content: "\e0ce"; }

.prism.folder-favorite:before { content: "\e0cd"; }

.prism.folder-empty:before { content: "\e0cc"; }

.prism.folder-disk:before { content: "\e0cb"; }

.prism.folder-create:before { content: "\e0ca"; }

.prism.folder-bookmark:before { content: "\e0c9"; }

.prism.folder-backup:before { content: "\e0c8"; }

.prism.folder-au:before { content: "\e0c7"; }

.prism.folder-au-open:before { content: "\e0c6"; }

.prism.floppy:before { content: "\e0c5"; }

.prism.firewall:before { content: "\e0c4"; }

.prism.filter:before { content: "\e0c3"; }

.prism.filter-file:before { content: "\e0c2"; }

.prism.filter-add:before { content: "\e0c1"; }

.prism.file:before { content: "\e0c0"; }

.prism.file-windows:before { content: "\e0bf"; }

.prism.file-user:before { content: "\e0be"; }

.prism.file-usb:before { content: "\e0bd"; }

.prism.file-upload:before { content: "\e0bc"; }

.prism.file-star:before { content: "\e0bb"; }

.prism.file-shield:before { content: "\e0ba"; }

.prism.file-setting:before { content: "\e0b9"; }

.prism.file-select:before { content: "\e0b8"; }

.prism.file-scan:before { content: "\e0b7"; }

.prism.file-report:before { content: "\e0b6"; }

.prism.file-rename:before { content: "\e0b5"; }

.prism.file-read:before { content: "\e0b4"; }

.prism.file-move:before { content: "\e0b3"; }

.prism.file-lock:before { content: "\e0b2"; }

.prism.file-import:before { content: "\e0b1"; }

.prism.file-history:before { content: "\e0b0"; }

.prism.file-folder:before { content: "\e0af"; }

.prism.file-extension:before { content: "\e0ae"; }

.prism.file-extension-group:before { content: "\e0ad"; }

.prism.file-edit:before { content: "\e0ac"; }

.prism.file-delete:before { content: "\e0ab"; }

.prism.file-create:before { content: "\e0aa"; }

.prism.file-compress:before { content: "\e0a9"; }

.prism.file-block:before { content: "\e0a8"; }

.prism.eye:before { content: "\e0a7"; }

.prism.eye-off:before { content: "\e0a6"; }

.prism.exclamation:before { content: "\e0a5"; }

.prism.exclamation-triangle:before { content: "\e0a4"; }

.prism.exclamation-circle:before { content: "\e0a3"; }

.prism.event-history:before { content: "\e0a2"; }

.prism.encryption:before { content: "\e0a1"; }

.prism.encryption-lock:before { content: "\e0a0"; }

.prism.edit:before { content: "\e09f"; }

.prism.edit-off:before { content: "\e09e"; }

.prism.download:before { content: "\e09d"; }

.prism.download-zip:before { content: "\e09c"; }

.prism.domain-user:before { content: "\e09b"; }

.prism.dollar:before { content: "\e09a"; }

.prism.dollar-circle:before { content: "\e099"; }

.prism.doc:before { content: "\e098"; }

.prism.disk-usb:before { content: "\e097"; }

.prism.disk-library:before { content: "\e096"; }

.prism.directory:before { content: "\e095"; }

.prism.device-manager:before { content: "\e094"; }

.prism.device-control:before { content: "\e093"; }

.prism.desktop-remote:before { content: "\e092"; }

.prism.deselect-all:before { content: "\e091"; }

.prism.delete:before { content: "\e090"; }

.prism.data-flow-settings:before { content: "\e08f"; }

.prism.data-flow-expand:before { content: "\e08e"; }

.prism.data-flow-02:before { content: "\e08d"; }

.prism.data-flow-01:before { content: "\e08c"; }

.prism.data-defrag-01:before { content: "\e08b"; }

.prism.data-01:before { content: "\e08a"; }

.prism.cut:before { content: "\e089"; }

.prism.csv:before { content: "\e088"; }

.prism.cpu-chip:before { content: "\e087"; }

.prism.copy:before { content: "\e086"; }

.prism.computers:before { content: "\e085"; }

.prism.computers-selected:before { content: "\e084"; }

.prism.computer-wallpaper:before { content: "\e082"; }

.prism.computer-usb:before { content: "\e081"; }

.prism.computer-upload:before { content: "\e080"; }

.prism.computer-uninstall:before { content: "\e07f"; }

.prism.computer-settings:before { content: "\e07e"; }

.prism.computer-security:before { content: "\e07d"; }

.prism.computer-scan:before { content: "\e07c"; }

.prism.computer-repair:before { content: "\e07b"; }

.prism.computer-remove:before { content: "\e07a"; }

.prism.computer-refresh:before { content: "\e079"; }

.prism.computer-question:before { content: "\e078"; }

.prism.computer-push-pin:before { content: "\e077"; }

.prism.computer-power:before { content: "\e076"; }

.prism.computer-online:before { content: "\e075"; }

.prism.computer-offline:before { content: "\e074"; }

.prism.computer-network:before { content: "\e073"; }

.prism.computer-mobile:before { content: "\e072"; }

.prism.computer-key:before { content: "\e071"; }

.prism.computer-installer:before { content: "\e070"; }

.prism.computer-install:before { content: "\e06f"; }

.prism.computer-exclamation:before { content: "\e06e"; }

.prism.computer-download:before { content: "\e06d"; }

.prism.computer-block:before { content: "\e06c"; }

.prism.computer-biometric:before { content: "\e06b"; }

.prism.computer-add:before { content: "\e06a"; }

.prism.computer-add-task:before { content: "\e069"; }

.prism.command:before { content: "\e068"; }

.prism.column-settings:before { content: "\e067"; }

.prism.column-add:before { content: "\e066"; }

.prism.color-pour:before { content: "\e065"; }

.prism.code:before { content: "\e064"; }

.prism.code-square:before { content: "\e063"; }

.prism.cloud:before { content: "\e062"; }

.prism.clock:before { content: "\e061"; }

.prism.clock-alarm:before { content: "\e060"; }

.prism.circle:before { content: "\e05f"; }

.prism.circle-tick:before { content: "\e05e"; }

.prism.chevron-up:before { content: "\e05d"; }

.prism.chevron-right:before { content: "\e05c"; }

.prism.chevron-left:before { content: "\e05b"; }

.prism.chevron-down:before { content: "\e05a"; }

.prism.checklist-02:before { content: "\e059"; }

.prism.checklist-01:before { content: "\e058"; }

.prism.certificate:before { content: "\e057"; }

.prism.case-sensitive:before { content: "\e056"; }

.prism.cart:before { content: "\e055"; }

.prism.cart-purchased:before { content: "\e054"; }

.prism.card-reader:before { content: "\e053"; }

.prism.cancel:before { content: "\e052"; }

.prism.cancel-scan:before { content: "\e051"; }

.prism.cancel-circle:before { content: "\e050"; }

.prism.camera:before { content: "\e04f"; }

.prism.calling:before { content: "\e04e"; }

.prism.calendar:before { content: "\e04b"; }

.prism.calendar-tick:before { content: "\e04a"; }

.prism.calendar-scan:before { content: "\e049"; }

.prism.calendar-remove:before { content: "\e048"; }

.prism.calendar-exclamation:before { content: "\e047"; }

.prism.calendar-clock:before { content: "\e046"; }

.prism.calendar-add:before { content: "\e045"; }

.prism.building:before { content: "\e044"; }

.prism.bug:before { content: "\e043"; }

.prism.brush:before { content: "\e042"; }

.prism.broadcast:before { content: "\e041"; }

.prism.bookmark:before { content: "\e040"; }

.prism.bookmark-check:before { content: "\e03f"; }

.prism.book:before { content: "\e03e"; }

.prism.book-open:before { content: "\e03d"; }

.prism.bold:before { content: "\e03c"; }

.prism.bluetooth:before { content: "\e03b"; }

.prism.blog-write:before { content: "\e03a"; }

.prism.block:before { content: "\e039"; }

.prism.bio-metric:before { content: "\e038"; }

.prism.bento-menu:before { content: "\e037"; }

.prism.bar-vertical-chart:before { content: "\e036"; }

.prism.background-color .path1:before { content: "\e035";  color: currentColor; }
.prism.background-color .path2:before { content: "\e04c"; margin-left: -1em; color: #fff; }
.prism.background-color .path3:before { content: "\e04d"; margin-left: -1em; color: currentColor; }

.prism.audio-book:before { content: "\e034"; }

.prism.arrow-narrow-up:before { content: "\e033"; }

.prism.arrow-narrow-right:before { content: "\e032"; }

.prism.arrow-narrow-left:before { content: "\e031"; }

.prism.arrow-narrow-down:before { content: "\e030"; }

.prism.arrow-left-circle:before { content: "\e02f"; }

.prism.arrow-horizontal:before { content: "\e02e"; }

.prism.arrow-down-circle:before { content: "\e02d"; }

.prism.archive:before { content: "\e02c"; }

.prism.announcement:before { content: "\e02b"; }

.prism.align-right:before { content: "\e02a"; }

.prism.align-left:before { content: "\e029"; }

.prism.align-justify:before { content: "\e028"; }

.prism.align-center:before { content: "\e027"; }

.prism.add:before { content: "\e026"; }

.prism.add-circle:before { content: "\e025"; }

.prism.activity-stop-square:before { content: "\e024"; }

.prism.zoom-in:before { content: "\e023"; }

.prism.product-share:before { content: "\e022"; }

.prism.minimize-02:before { content: "\e021"; }

.prism.mail-resend:before { content: "\e020"; }

.prism.expand:before { content: "\e01f"; }

.prism.antenna:before { content: "\e01e"; }

.prism.active-directory:before { content: "\e01d"; }

.prism.stacked-bar-chart:before { content: "\e01c"; }

.prism.scatter:before { content: "\e01b"; }

.prism.radar-chart:before { content: "\e01a"; }

.prism.pyramid-chart:before { content: "\e019"; }

.prism.microsoft:before { content: "\e018"; }

.prism.line-chart:before { content: "\e017"; }

.prism.layers:before { content: "\e016"; }

.prism.internet-user:before { content: "\e015"; }

.prism.funnel-chart:before { content: "\e014"; }

.prism.dial-chart:before { content: "\e013"; }

.prism.chart:before { content: "\e012"; }

.prism.bubble:before { content: "\e011"; }

.prism.bar-horizontal-chart:before { content: "\e010"; }

.prism.area-chart:before { content: "\e00f"; }

.prism.api:before { content: "\e00e"; }

.prism.security-status:before { content: "\e00d"; }

.prism.security-block:before { content: "\e00c"; }

.prism.resize-handle:before { content: "\e00b"; }

.prism.property-group:before { content: "\e00a"; }

.prism.mobile-devices:before { content: "\e009"; }

.prism.widget:before { content: "\e008"; }

.prism.table:before { content: "\e007"; }

.prism.table-view:before { content: "\e006"; }

.prism.smart-view:before { content: "\e005"; }

.prism.skull:before { content: "\e004"; }

.prism.disk:before { content: "\e003"; }

.prism.up-trend:before { content: "\e002"; }

.prism.down-trend:before { content: "\e001"; }